.cat-info {
  display: flex;
  gap: 10px;
  max-width: 600px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.img-cat {
  display: block;
  max-width: 50%; 
}

.js-list {
  list-style: none;
}

.js-hidden {
  display: none;
}

.error {
  color: red;
}

.loader {
  color: blue;
  font-size: 16px;
  line-height: 1.5;
}

.breed-select {
  font-size: 16px;
}